﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide and  inject model</title>
  <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--提供/注入模式
就是父组件通过props,provide给子组件，类似于继承，但是不是继承，此种方式可以选择性的接收父组件provide给子组件的prop,此时子组件只需要inject就行了
基本结构：
Root
    Todolist
           List
               Item
                   ButtonList
-->
<!--如果需要将todo-list的长度和当前用户名传给ButtonList此时就需要按照上面的结构开始传输参数-->
<script>
  //创建todolist组件
  const ToDoList = {
    data(){
      return {
        todos : ['喂猫' , '买票' ,'扫地']
      }
    },
    //provide
    provide() {
      return {
        user : "huaan",
        ToDoListLength : this.todos.length
      }
    },
    //创建模板
    template : '<div class="card"><List :list="todos"></List></div>',
    components : {
        List
    }
  }
//   item组件中包含buttonList组件
//   创建item组件
  const item = {
    props : ["item"],
  //   创建模板
    template : "<li><h2>{{item}}</h2><buttonList /></li>",
    components : 'buttonList'
  }
  //list组件包含item组件
  //创建list组件
  const list = {
    props : ['list'],
    //创建模板
    template : ' <li class="list"><Item :item="t" :key="index" v-for="(t , index) in list"></Item></li>',
    components : {
      Item
    }
  }
// 创建buttonList组件
  const buttonList = {
  //   使用inject注入模式
    inject : ['user' , 'ToDoListLength'],
    template : ' <div class="buttons">{{ToDoListLength}} - <a>{{user}}</a>:<a>确认</a></div>',
    }
</script>
</body>
</html>