﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkbox</title>
    <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--单个复选框,绑定布尔值-->
<input type="checkbox" v-model="checked" id="checked">
<label v-model="checked"></label>
<!--多个复选框,需要绑定到同一个数组中,此时区分,只需要确定其label值-->
<div id="app">
    <input type="checkbox" id="jack" value="jack" v-model="checkName">
    <label for="jack">{{jack}}</label>
    <input type="checkbox" id="john" value="john" v-model="checkName">
    <label for="john">{{john}}</label><br>
    <span>checkName : <br>{{checkName}}</span>
</div>
<script>
    const app = Vue.createApp({
        data(){
            return {
                //此处初始必须为空数组,这样才能接收多个checkName选中的值
                checkName : []
            }
        }
    })
    const vm = app.mount("#app")
</script>

</body>
</html>