﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select</title>
  <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--选择框
Select默认单选,在select中加入v-model监听change事件,并把选中的option值传给selected变量输出
-->
<!--<div id="app">-->
<!--  <select v-model="selected">-->
<!--    <option value="" disabled>Please select your name</option>-->
<!--    <option>jane</option>-->
<!--    <option>jack</option>-->
<!--    <option>john</option>-->
<!--  </select>-->
<!--  <p>Your name is {{selected}}</p>-->
<!--</div>-->
<!--<script>-->
<!--  const  app = Vue.createApp({-->
<!--    data(){-->
<!--      return {-->
<!--        selected : ''-->
<!--      }-->
<!--    }-->
<!--  })-->
<!--  const vm = app.mount("#app")-->
<!--</script>-->
<!--上面方法只能适用于固定绑定的数据,如需实现动态数组,数组需要在Vue中动态获取-->
<div id="app">
  <select v-model="selected">
    <option  v-for="option in options" :value="option.value">{{option
      .text}}</option>
  </select><br>
  <span>Your selected is {{selected}}</span>
</div>
<script>
  const app = Vue.createApp({
    data(){
      return {
        selected : 'A',
        options : [
          {text : 'one' , value : 'A'},
          {text : 'two' , value : 'B'},
          {text : 'three' , value : 'C'}
        ]
      }
    }
  })
  const vm = app.mount("app")
</script>
</body>
</html>