﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition API Plugins</title>
  <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--组合式API是一种新的编写模式，是将vue实现的方法和数据放在setup方法下面，基本可以写入vue整个生命周期所需要的实现方法-->
<script>
  //定义对象
  const HelloComponent = {
  //   定义输入接口
    Props : [] ,
    //定义输出事件
    emits : [] ,
    //定义组件视图
    template : '<h1 @click="change">{{state.count}}</h1>',
    //使用虚拟DOM创建组件视图
    render(h) {
      return h('h1' , {} , 'hello')
    },
    //借助setup方法，传入生命周期实现方法
    setup(){
      //定义数据和方法
      let state = reactive({count : 0})
      let change = () => state.count++
      //添加监听器
      watch(() => state.count , (oldValue , newValue) => {
        console.log(oldValue , newValue , '改变')
      })
      //定义计算属性
      let countComputed = computed(() => {
        return state.count + 10
      });
      //此时返回数据
      return {
        state,
        countComputed,
        change
      };
    //   所有生命周期方法和vue2实现一样
    }
  }

</script>
</body>
</html>