﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--使用v-for需要使用for item in item-->
<div id="app">
<!--<div v-for="title in list">{{title}}</div>-->
</div>
<script>
    const app = Vue.createApp({
        data(){
            return {
                list : [
                    {
                        title : 'vue'
                    },
                    {
                        title : ' angular'
                    },
                    {
                        title : 'react '
                    }
                ]
            }
        }
    })
    const  vm = app.mount("#app1")
//     v-for还可以加入第二个参数，也就是下标
</script>
<div id="app1">
<div v-for="(title , index) in list">{{title}}</div>
</div>
<!--使用v-for遍历对象-->
<ul id="app2">
    <li v-for="value in book">{{value}}</li>
</ul>
<script>
    const app = Vue.createApp({
        data(){
            return {
                book : [
                    {
                        title : "vue3",
                        author : "huaan",
                        publish : "2023 - 4  -14"
                    }
                ]
            }
        }
    })
    const  vm = app.mount("#app2")
</script>
<!--此处也可以引入第二个参数，也就是可以以键值对的形式输出-->
<li v-for="(value , name) in book">
    {{name}} : {{value}}
</li>



</body>
</html>