﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create view in DOM directly</title>
    <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--    直接在DOM内创建视图-->
<div id="app">
    <div class="user-card">
        <h1>用户名：{{user.name}}</h1>
        <h1>密码：{{user.age}}</h1>
    </div>
</div>
<script>
    const app = {
        data() {
            return {
                user : {
                    name : 'huaan',
                    age : 19
                }
            }
        }
    }
    vm = Vue.createApp(app).mount('#app')

</script>
</body>
</html>