<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
  <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<div id="test">
    {{msg}}
</div>
<!--创建vue实例对象-->
<script>
<!--    创建一个js对象-->
const HelloApp =  {
    data() {
        return {
            msg : "HelloVUE3"
        }
    }
}
// 绑定vue实例对象
Vue.createApp(HelloApp).mount("#test")
</script>
</body>
</html>