body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
}
.main{
    width: 525px;
    margin-left: auto;
    margin-left: auto;
}
.hr_1{
    font-size:14px;
    font-weight: bold;
    color: #3275c3;
    height: 35px;
    border-bottom-color: #3275c3;
    border-bottom-width:2px;
    border-bottom-style: solid;
    /*设置垂直对其方式*/
    vertical-align: center;
    padding-left:12px;
}
.left{
    text-align: center;
    width: 80px;
    height: 25px;
    padding-right:5px;
}
.center{
    width: 135px;
}
.inputClass{
    width:130px;
    height: 16px;
    border: solid 1px #79abea;
}
div{
    color: #ffff00;
}
