*{margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 30px;
    color:#FFF;
}
div{
    width: 580px;
    height: 200px;
    margin: 50px auto;
    position: relative;
}
a{
    float: left;
    width: 25px;
    height: 90px;
    line-height: 90px;
    background: #333;
    opacity: 0.7;
    border-radius: 4px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.left{
    position: absolute;
    left: -12px;
    top: 60px;
}
.right{
    position: absolute;
    right: -12px;
    top: 60px;
}
div:hover a{
    display: block;
}
ul{
    width: 110px;
    height: 20px;
    background: #333;
    position: absolute;
    opacity: 0.5;
    border-radius:8px;
    right: 30px;
    bottom: 20px;
    text-align: center;
}
li{
    width: 5px;
    height: 5px;
    background:#CCC ;
    border-radius: 50%;
    display: inline-block;
}
.max{
    width: 12px;
    background:#03BDE4 ;
    border-radius: 6px;
}