﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on</title>
  <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--一般v-on简写为@，来监听和触发事件-->
<div id="app">
  <button @click="counter += 1">+1</button>
  <p>点击了{{counter}}次</p>
</div>
<script>
  const app = Vue.createApp({
    data(){
      return {
        counter : 0
      }
    }
  })
  const  vm  = app.mount("#app")
</script>
</body>
</html>