*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 50px;
    font-style: italic;
    font-family: 微软;
    background: green;
    margin-top: 10px;
}
p:after{
    /*img:url()*/
/*    本来这里有个小喇叭，没有图片*/
}
a:link,a:visited{
    color: aqua;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}