/*   Author: Asif Mughal
 *   URL: www.codehim.com
 *   License: MIT License
 *   Copyright (c) 2018 - 19 - Asif Mughal
 */
/* FILE : demo.css */
*{ margin: 0; padding: 0;}
body{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #eee;
}
.intro{
   background: #ddd;
   padding: 60px 30px;
   color: #333;
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
   margin-left: 50px;
}
.intro h1 {
   font-size: 18pt;

}
.intro p{
   font-size: 14px;
}

.action{
   text-align: center;
   display: block;
   margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}
a.btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
-webkit-transition: .3s;
}
.github:before,
.down:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}
.github:before{content: "\f09b"}
.down:before{content: "\f019"}
.credit{
    background: #fff;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;

}
.credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.credit a{
   color: #333;
   text-decoration: none;
}
.credit a:hover{
   color: #e41b17; 
}
.credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}
main{
  background: #fff;
  
  
}

article li{
   color: #444;
   font-size: 15px;
   margin-left: 33px;
   line-height: 1.5;
   padding: 5px;
}
article h1,
article h2,
article h3,
article p{
   padding: 10px;
   color: #333;
}
article p{
   font-size: 15px;
    line-height: 1.5;
}
 
@media only screen and (min-width: 720px){
    main{
      width: 720px;
       box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
      margin-left: auto !important;
      margin-right: auto;
      background: #f9f9f9; 
    }


}

/* Syntax Highlighter*/

pre.prettyprint {
	padding: 10px;
   margin: 10px;
	border: 0;
  background: #f2f2f2;
  overflow: auto;
}


code{
    border:1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}
  
	  
.theme-picker{
   padding: 10px 15px;
   margin: 4px;
   background: #fff;
   text-align: center;

}

.theme-picker p {
  padding: 10px 0;

}
.theme-picker span{
   width: 25px;
   height: 25px;
   display: inline-block;
   border-radius: 50%;
   cursor: pointer;
   margin-left: 5px;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);


}
.set-default{
  display: block;
  width: 120px;
  margin: 10px auto;
  border: 0;
  background: #0e3248;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  cursor: pointer;

}
.ad-unit{
   position: relative;
   z-index: 1;
   margin-top: -5px;
   

}
