﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Named by object</title>
    <script src="/vue/Package/vue3.2.47.global.js"></script>
</head>
<body>
<!--使用对象定义组件，一般用于自定义组件，全局组件一般都是放在vue里实现-->
<script>
<!--    此处只是定义，需要在vue里面激活-->
    const myCounter = {
        template : '<button @click="num++">{{num}}次</button>'
    }
</script>
</body>
</html>